<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    {% load bootstrap %}


    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    
</head>
<body>

    <div class="container mt-3">

        {% if messages %}
            {% for m in messages %}
              <div class="alert {% if m.tags %}  alert-{{ m.tags }} {% endif %}">{{ m }}</div>
            {% endfor %}
        {% endif %}

       <div class="card">
           <div class="card-header">
               <h3>Contact Form</h3>
           </div>
           <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
    
                {% if form.errors %}
                    <br>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ field.name }}:</strong> {{ error }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
    
                {{ form|bootstrap }}
    
                <input type="submit" value="Send" class="btn btn-primary">
            </form>
           </div>
       </div>
    </div>

</body>
</html>